################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CosmoShips
/.vs
/ProjectSettings
/Temp
/Library
/obj